{% extends 'partials/base.html' %}

{% block title %}GNI Bar Chart{% endblock %}

{% block content %}

   
  


{% if chart %}

    <div class="mt-3">
        <h1 style="background-color: white; color: rgb(17, 67, 107); border:2pt solid rgb(17, 67, 107); box-shadow: 5px 5px 15px 5px #000000; text-align:center; font-size:x-large; font-weight: bold; margin-top: 15px; padding: 5px; font-family: 'open sans', serif"> {{ yearonly }} Total Fertility Rate (births per woman) ("TFR") </h1>
        <div style="font-size:small; height: 40px; border:1pt solid black; margin-top: 20px; background-color: #98c1d9">
            <p style="font-family: 'open sans', serif; text-align:center; margin-bottom:-10px; line-height:20px; font-weight:bold">Economic Development</p>
        <div style="display: flex; flex-direction: inline; margin-top:0; justify-content:space-around">
            <div style="margin-left:0; font-family: 'open sans', serif; font-weight: bold">High </div> <--------------------------------------- <div style="margin-right:0; font-weight:bold; font-family: 'open sans', serif">Low</div>
         </div>   
         <p style="font-family: 'open sans', serif; text-align:center; margin-top:-10px; font-weight:bold">GDP per capita, PPP</p>
        </div>
        
    </div style="margin-left:-15px; position:absolute">
        <img width="100%" height="75%" src="data:image/png;base64, {{chart|safe}}"/>
    </div>
    
    {% endif %}

{% endblock content %}